@model AP5_New.Models.ContainerMaster

<div class="modal fade" id="addContainer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addContainerTitle">新增</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("NewContainer", "Container", FormMethod.Post, new { id = "Form1" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label asp-for="UnboxDate"></label>
                        <input asp-for="UnboxDate" class="form-control" />
                        <span asp-validation-for="UnboxDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContainerNo"></label>
                        <input asp-for="ContainerNo" class="form-control" />
                        <span asp-validation-for="ContainerNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlantCode"></label>
                        <input asp-for="PlantCode" class="form-control" />
                        <span asp-validation-for="PlantCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContainerRenban"></label>
                        <input asp-for="ContainerRenban" class="form-control" />
                        <span asp-validation-for="ContainerRenban" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShiftType"></label>
                        <input asp-for="ShiftType" class="form-control" />
                        <span asp-validation-for="ShiftType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DockNo"></label>
                        <input asp-for="DockNo" class="form-control" />
                        <span asp-validation-for="DockNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LineoffCount"></label>
                        <input asp-for="LineoffCount" class="form-control" />
                        <span asp-validation-for="LineoffCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mark"></label>
                        <input asp-for="Mark" class="form-control" />
                        <span asp-validation-for="Mark" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LogicalTime"></label>
                        <input asp-for="LogicalTime" class="form-control" />
                        <span asp-validation-for="LogicalTime" class="text-danger"></span>
                    </div>
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-success" data-save="modal">確定新增</button>
            </div>
        </div>
    </div>
</div>
