@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">錯誤。</h1>
<h2 class="text-danger">執行中發生錯誤。</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>請聯絡系統管理員</h3>
